*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html,body{
	height: 100%;
}
.clear{
	clear: both;
}

@font-face{
	src:url('../fonts/OpenSans-light.ttf');
	font-family: "Open Sans"
}

.center{
	padding-left:  25px;
	width: 1280px;
	margin: 0 auto;
}
.header{
	width: 100%;
	height: 90px;
	background-color: #212343;
}
.center img{
	margin: 30px;
	float: left ;

}
.container-banner{
	width: 100%;
	height: 557px;
	background-image: url('../images/header_bg.png');
	background-size: cover;
	background-position: center;
}
.container-banner > .center{
	height: 100%;
}
.center .form{
	width: 400px;
	height: calc(100% + 30px);
	background-color: white;
	margin-right: 150px;
	float: right;
	position: relative;
	top: -15px;
	border-width: 12px;
	border-color: rgba(120,120,120,0.5);
	border-style: solid;
	background-clip: padding-box;
}
.form h2{
	font-weight: normal;
	color: #999999
	font-size: 21px;
}

.input-container{
	margin-top: 20px;
}
.input-container span{
	font-size: 17px;
	width: 100%;
	color: #BBBBBB;
	display: inline-block;
	margin-left: 5px;
}
.input-container input[type=text]{
	width: 344px;
	height: 55px;
	border: 2px solid #ccc;
	margin-top: 8px;
	margin-left: 5px; 
}

.warning{
	display: inline-block;
	width: 100%;
	color: #BBBBBB;
	font-size: 17px;
	margin: 20px 0;

}
.submit-container{
	text-align: center;
}
.submit-container input[type=submit]{
	width: 280px;
	height: 56px;
	background-color: #363A6D;
	color: black;
	cursor: pointer;
}
.container-list{
	float: left;
	width: 619px;
	height: 270px;
	background-color: rgba(33,35,67,0.7);
	margin-top: 40px; 
	padding: 30px;
}
.container-list ul{
	list-style-position: inside;
}
.container-list ul li{
	color: white;
	margin-top: 18px;
}
.container-2{
	padding: 40px 0;
	background-color: gray;
	text-align: center;
}
.container-2 h2{
	font-weight: normal;

}
.container-2 p{
	width: 698px;
	display: inline-block;
	text-align: justify;
	margin: 15px 0;
}
.arrow{
	position: relative;
	top: 60px;
	left: 50%;
	margin-left: -20px;
	width: 40px;
	height: 40px;
	background-image: url('../images/arrow.png');
	background-size: 100% 100%; 
}
.section-1{
	padding: 90px 0;
}
.section-1 h2{
	text-align: center;
	color: black;
	font-weight: normal;
}
.container-section{
	margin-top: 40px;
}
.container-section{
	text-align: center;

}
.container-single{
	float: left;
	width: 33.33%;
	margin-right: -4px;
	display: inline-block;
	
}
.text-container-single p, h2{
	padding: 20px;
	text-align: justify;
}

.footer{
	padding: 30px 0;
	border-top: 2px solid black;
	text-align: center;
	color: #888;
	padding-bottom: 0;
	background-color: #ccc;
}
.footer h4{
	padding-top:  20px;
}